body {
    font-family: 'Montserrat', sans-serif;
}
.services-img {
    padding: 10px;
}
.circle {
    border: solid gold 3px;
    border-radius: 50%;
    width: 60px;
    position: relative;
    left: 175px;
}
.header-logo {
    font-family: 'Bilbo Swash Caps', cursive;
    color: #FED136;
    position: relative;
    left: 120px;
    font-size: 36px;
    top: 15px;
}
.header-link {
    text-decoration: none;
    color: #FED136;
    position: relative;
    left: 1150px;
    top: -32px;
    transition: font-size 0.3s ease; 
    margin: 20px;
}
.header-link:hover {
    color: red;
    font-size: 20px;
}
.header {
    width: 1000px;
    position: relative;
    left: 100px;
}
.services-title {
    text-align: center;
    margin-top: 50px;
    color: #222222;
    font-size: 40px;
    width: 800;
}
.services-text {
    width: 354px;
    text-align: center;
    margin: 30px;
}
.services-main {
    left: 320px;
    margin-top: 150px;
    position: relative;
    text-align: center;
    display: flex;
    width: 1000px;
}
.regist {
    background-color: #222222;
    color: #BBBBBB;
    width: 1890px;
    height: 800px;
}
.regist-input {
    position: relative;
    display: block;
    margin-top: 62px;
    top: 229px;
    border-radius: 3px;
    border: none;
    padding: 10px;
    width: 300px;
    right: 150px;
    font-size: 18px;
    text-transform: uppercase;
}
.regist-textarea {
    position: relative;
    left: 900px;
    border-radius: 5px;
    font-size: 20px;
    height: 230px;
    top: -19px;
    padding: 10px;
    text-transform: uppercase;
}
.regist-h2 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 40px;
}
.regist-button {
    border: none;
    padding: 20px;
    color: white;
    background-color: #FED136;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}
.regist-button-div {
    text-align: center;
}
label {
    position: relative;
    left: 700px;
}